<script id="template-biblio" type="text/x-jsrender">
  {{if subdoc.url}}
  <div>
    <b>${messages.korpus_biblio_url}:</b> <a target="_blank" href="{{> subdoc.url}}">{{> subdoc.url}}</a>
  </div>
  {{/if}}
  {{if subdoc.authors}}
  <div>
    <b>${messages.korpus_biblio_authors}:</b> {{> subdoc.authors}}
  </div>
  {{/if}}
  {{if subdoc.translation}}
  <div>
    <b>${messages.korpus_biblio_translators}:</b> {{> subdoc.translators}}
  </div>
  {{/if}}
  {{if subdoc.langOrig}}
  <div>
    <b>${messages.korpus_biblio_langOrig}:</b> {{> subdoc.langOrig}}
  </div>
  {{/if}}
  <div>
    <b>${messages.korpus_biblio_title}:</b> {{> subdoc.title}}
  </div>
  {{if doc.styleGenres}}
  <div>
    <b>${messages.korpus_biblio_styleGenres}:</b> {{> doc.styleGenres}}
  </div>
  {{/if}}
  {{if subdoc.edition}}
  <div>
    <b>${messages.korpus_biblio_edition}:</b> {{> subdoc.edition}}
  </div>
  {{/if}}
  {{if subdoc.details}}
  <div>
    <b>${messages.korpus_biblio_details}:</b> {{> subdoc.details}}
  </div>
  {{/if}}
  {{if subdoc.file}}
  <div>
    <b>${messages.korpus_biblio_file}:</b> {{> subdoc.file}}
  </div>
  {{/if}}
  {{if subdoc.creationTime}}
  <div>
    <b>${messages.korpus_biblio_creationTime}:</b> {{> subdoc.creationTime}}
  </div>
  {{/if}}
  {{if subdoc.publicationTime}}
  <div>
    <b>${messages.korpus_biblio_publicationTime}:</b> {{> subdoc.publicationTime}}
  </div>
  {{/if}}
  {{if page > 0}}
  <div>
    <b>${messages.korpus_biblio_page}:</b> {{> page}}
  </div>
  {{/if}}
</script>

<div id="dialog-biblio" style="visibility: hidden; display: block; position: absolute;" class="popover in popover-top top" tabindex="0" onBlur="this.style.visibility = 'hidden'">
  <div class="popover-arrow arrow"></div>
  <div id="dialog-biblio-details" style="margin: 1em">
  </div>
</div>
