<script id="template-biblio" type="text/x-jsrender">
  {{if doc.url}}
  <div>
    <b>${messages.korpus_biblio_url}:</b> <a target="_blank" href="{{> doc.url}}">{{> doc.url}}</a>
  </div>
  {{/if}}
  {{if doc.authors}}
  <div>
    <b>${messages.korpus_biblio_authors}:</b> {{> doc.authors}}
  </div>
  {{/if}}
  {{if doc.translation}}
  <div>
    <b>${messages.korpus_biblio_translators}:</b> {{> doc.translators}}
  </div>
  {{/if}}
  {{if doc.langOrig}}
  <div>
    <b>${messages.korpus_biblio_langOrig}:</b> {{> doc.langOrig}}
  </div>
  {{/if}}
  <div>
    <b>${messages.korpus_biblio_title}:</b> {{> doc.title}}
  </div>
  {{if doc.styleGenres}}
  <div>
    <b>${messages.korpus_biblio_styleGenres}:</b> {{> doc.styleGenres}}
  </div>
  {{/if}}
  {{if doc.edition}}
  <div>
    <b>${messages.korpus_biblio_edition}:</b> {{> doc.edition}}
  </div>
  {{/if}}
  {{if doc.details}}
  <div>
    <b>${messages.korpus_biblio_details}:</b> {{> doc.details}}
  </div>
  {{/if}}
  {{if doc.file}}
  <div>
    <b>${messages.korpus_biblio_file}:</b> {{> doc.file}}
  </div>
  {{/if}}
  {{if doc.creationTime}}
  <div>
    <b>${messages.korpus_biblio_creationTime}:</b> {{> doc.creationTime}}
  </div>
  {{/if}}
  {{if doc.publicationTime}}
  <div>
    <b>${messages.korpus_biblio_publicationTime}:</b> {{> doc.publicationTime}}
  </div>
  {{/if}}
  {{if page > 0}}
  <div>
    <b>${messages.korpus_biblio_page}:</b> {{> page}}
  </div>
  {{/if}}
</script>

<div id="dialog-biblio" style="visibility: hidden; display: block; position: absolute;" class="popover in popover-top top" tabindex="0" onBlur="this.style.visibility = 'hidden'">
  <div class="popover-arrow arrow"></div>
  <div id="dialog-biblio-details" style="margin: 1em">
  </div>
</div>
