<script id="template-text" type="text/x-jsrender">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{>title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" onClick="dialogText.cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" onClick="new PopoverWord(event);">
        <div>
        {{for detailsText.sentences}}
          <span>
            {{for words}}<span wlemma="{{>lemmas}}" wcat="{{>tags}}" {{if requestedWord}}class="wordFound"{{/if}}>{{naciski:word}}</span>{{wordtail:tail}}{{/for}}
          </span>
        {{/for}}
        </div>
        {{if previewLink}}
          <div style="display: flex; align-items: center; gap: 12px; width: 100%;">
            <a target="_blank" href="{{>sourceLink}}">
              <svg width="54px" height="54px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke=""><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Interface / External_Link"> <path id="Vector" d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11" stroke="#6c757d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
            </a>
            <audio style="width: 100%;" controls src="{{>previewLink}}" preload="none" controlsList="nodownload"></audio>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</script>

<div id="dialog-text" class="modal fade" bsModal #textDetailsModal="bs-modal"
     tabindex="-1" role="dialog" aria-hidden="true">
</div>
