<script id="template-biblio" type="text/x-jsrender">
  {{if doc.url}}
  <div>
    <b>URL:</b> <a target="_blank" href="{{> doc.url}}">{{> doc.url}}</a>
  </div>
  {{/if}}
  {{if doc.authors}}
  <div>
    <b>Аўтары:</b> {{> doc.authors}}
  </div>
  {{/if}}
  {{if doc.translation}}
  <div>
    <b>Перакладчык:</b> {{> doc.translators}}
  </div>
  {{/if}}
  {{if doc.langOrig}}
  <div>
    <b>Пераклад з:</b> {{> doc.langOrig}}
  </div>
  {{/if}}
  <div>
    <b>Назва:</b> {{> doc.title}}
  </div>
  {{if doc.styleGenres}}
  <div>
    <b>Стыль/жанр:</b> {{> doc.styleGenres}}
  </div>
  {{/if}}
  {{if doc.edition}}
  <div>
    <b>Выданне:</b> {{> doc.edition}}
  </div>
  {{/if}}
  {{if doc.details}}
  <div>
    <b>Падрабязнасці:</b> {{> doc.details}}
  </div>
  {{/if}}
  {{if doc.file}}
  <div>
    <b>Файл:</b> {{> doc.file}}
  </div>
  {{/if}}
  {{if doc.creationTime}}
  <div>
    <b>Час стварэння:</b> {{> doc.creationTime}}
  </div>
  {{/if}}
  {{if doc.publicationTime}}
  <div>
    <b>Час першай публікацыі:</b> {{> doc.publicationTime}}
  </div>
  {{/if}}
</script>

<div id="dialog-biblio" style="visibility: hidden; display: block; position: absolute;" class="popover in popover-top top" tabindex="0" onBlur="this.style.visibility = 'hidden'">
  <div class="popover-arrow arrow"></div>
  <div id="dialog-biblio-details" style="margin: 1em">
  </div>
</div>
