<div id="partWordAround" class="col-12 col-md-6 col-xl-4 d-none">
	<div class="card">
		<div class="card-body">
			<div class="form-group form-inline my-1">
				<label style="white-space: nowrap">${messages.korpus_cluster_left} <input id="inputClusterBefore" type="text" class="form-control ml-2" size="2" maxlength="2" value="1"></label>
			</div>
			<div class="form-group form-inline my-1">
				<label style="white-space: nowrap">${messages.korpus_cluster_right} <input id="inputClusterAfter" type="text" class="form-control ml-2" size="2" maxlength="2" value="1"></label>
			</div>
		</div>
	</div>
</div>
