<div class="col-12 col-md-6 col-xl-4 inputword" style="display: none" id="template-inputword">
	<div class="card word-select">
		<span class="d-none wordgram-grammar-string"></span>
		<div class="card-body">
			<div class="form-inline float-right ml-2">
				<button type="button" class="oneword-hide close" aria-label="Close"
					onClick="korpusui.removeWord('inputword', this); return false;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <div class="form-row <#if !allow_grammardb>d-none</#if> input-word-hidegrammar">
                <div class="form-inline form-group my-1">
                    <label>${messages.korpus_word_allforms}
                    <input class="ml-2" type="checkbox" name="allForms" onChange="KorpusUI.lemmaChange('inputword', this)"></label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-inline form-group my-1">
                    <label class="inputword-lemma-prompt">${messages.korpus_word_word}</label>
                    <input type="text" placeholder="${messages.korpus_word_enter_here}" class="form-control ml-2" size="25" name="wordText">
                </div>
            </div>
            <div class="form-row <#if !allow_grammardb>d-none</#if> input-word-hidegrammar">
                <div class="form-inline form-group my-1">
                    <label>${messages.korpus_word_grammar}</label>
                    <a href="#" class="form-control wordgram-display ml-2"
                        onClick="dialogWordGrammar = DialogWordGrammar.createParadigmTagsDialog(this, true); return false;">---</a>
                </div>
            </div>
		</div>
	</div>
</div>