<div class="col-12 col-md-6 col-xl-4 inputword" style="display: none" id="template-inputword">
	<div class="card word-select">
		<span class="d-none wordgram-grammar-string"></span>
		<div class="card-body">
			<div class="form-inline float-right ml-2">
				<button type="button" class="oneword-hide close" aria-label="Close"
					onClick="korpusui.removeWord('inputword', this); return false;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <div class="form-row">
                <div class="form-inline form-group my-1">
                    <label>Усе словаформы
                    <input class="ml-2" type="checkbox" name="allForms" onChange="KorpusUI.lemmaChange('inputword', this)"></label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-inline form-group my-1">
                    <label class="inputword-lemma-prompt">Слова</label>
                    <input type="text" placeholder="уводзіць тут" class="form-control ml-2" size="10" name="wordText">
                </div>
            </div>
            <div class="form-row">
                <div class="form-inline form-group my-1">
                    <label>Граматыка</label>
                    <a href="#" class="form-control wordgram-display ml-2"
                        onClick="dialogWordGrammar = DialogWordGrammar.createParadigmTagsDialog(this, true); return false;">---</a>
                </div>
            </div>
		</div>
	</div>
</div>