  <table class="table-zebra hspacing" width="100%" onClick="new PopoverWord(event);">
    <tr>
      <th>Крыніца</th>
      <th>Тэкст</th>
      <th>Цалкам</th>
    </tr>
    {{for resultSearch.rows}}
      <tr <#if active == 'paralelny'>{{if subdocIndex == 0}}style="border-top: solid 1px blue"{{/if}}</#if> >
        <td style="color: #337ab7; white-space: nowrap;">
            <a tabindex="0" href="#" onClick="new PopoverBiblio(event, korpusService.resultSearch.rows[{{:#index}}].doc, korpusService.resultSearch.rows[{{:#index}}].subdoc, korpusService.resultSearch.rows[{{:#index}}].origText.page); return false;">
                {{titleShort:subdoc.textLabel}}
            </a>
        </td>
        <td>
          {{for words}}<span wlemma="{{>lemmas}}" wcat="{{>tags}}" {{if requestedWord}}class="wordFound"{{/if}}>{{naciski:word}}</span>{{>tail}}{{/for}}
        </td>
        <td class="text-center"><a href="#" {{if ~root.visitedList.indexOf(docId)>=0}} class="visited" {{/if}} onClick="dialogText = new DialogText(korpusService.resultSearch.rows[{{:#index}}], this); return false;">[...]</a></td>
      </tr>
    {{/for}}
  </table>
