  <table class="table-zebra hspacing" width="100%" onClick="new PopoverWord(event);">
    <tr>
      <th>Крыніца</th>
      <th>Тэкст</th>
      <th>Цалкам</th>
    </tr>
    {{for resultSearch.rows}}
      <tr>
        <td style="color: #337ab7; white-space: nowrap;">
            <a tabindex="0" href="#" onClick="new PopoverBiblio(event, korpusService.resultSearch.rows[{{:#index}}].doc); return false;">
              {{if doc.authors}}
                {{titleShort:doc.authors}}
              {{else}}
                doc
              {{/if}}
            </a>
        </td>
        <td>
          {{for words}}
            <span {{if isWord}} wlemma="{{>lemma}}" wcat="{{>cat}}" {{/if}} {{if requestedWord}}class="wordFound"{{/if}}>{{>orig}}</span>
          {{/for}}
        </td>
        <td class="text-center"><a href="#" onClick="dialogText = new DialogText(korpusService.resultSearch.rows[{{:#index}}], this); return false;">[...]</a></td>
      </tr>
    {{/for}}
  </table>
