<table onClick="new PopoverWord(event);" class="table-zebra hspacing" width="100%">
    <tr>
      <th>Крыніца</th>
      <th colspan="3">Тэкст</th>
      <th>Цалкам</th>
	</tr>
	{{for resultKwic.rows}}
    <tr>
      <td style="color: #337ab7; white-space: nowrap;">
        <a href="#" onClick="showBiblio($event, doc, docOther)">
              {{if doc.authors}}
                {{titleShort:doc.authors}}
              {{else doc.source}}
                {{titleShort:doc.source}}
              {{else}}
                {{titleShort:doc.title}}
              {{/if}}
        </a>
      </td>
      <td class="text-right">
		{{for kwicBefore}}<span wlemma="{{>lemmas}}" wcat="{{>tags}}" {{if requestedWord}}class="wordFound"{{/if}}>{{>normalized}}</span>{{>tail}}{{/for}}
      </td>
      <td class="text-center">
		{{for kwicWords}}<span wlemma="{{>lemmas}}" wcat="{{>tags}}" {{if requestedWord}}class="wordFound"{{/if}}>{{>normalized}}</span>{{>tail}}{{/for}}
      </td>
      <td class="text-left">
		{{for kwicAfter}}<span wlemma="{{>lemmas}}" wcat="{{>tags}}" {{if requestedWord}}class="wordFound"{{/if}}>{{>normalized}}</span>{{>tail}}{{/for}}
      </td>
      <td class="text-center"><a href="#" onClick="dialogText = new DialogText(korpusService.resultSearch.rows[{{:#index}}], this); return false;">[...]</a></td>
	</tr>
	{{/for}}
</table>
