<ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="tabSearch" class="nav-link active" href="#" onClick="korpusui.switchMode('search'); return false;">${messages.korpus_subpage_search}</a>
  </li>
  <li class="nav-item">
    <a id="tabKWIC" class="nav-link" href="#" onClick="korpusui.switchMode('kwic'); return false;">${messages.korpus_subpage_kwic}</a>
  </li>
  <li class="nav-item">
    <a id="tabCluster" class="nav-link" href="#" onClick="korpusui.switchMode('cluster'); return false;">${messages.korpus_subpage_cluster}</a>
  </li>
  <li class="nav-item">
    <a id="tabSpisy" class="nav-link" href="#" onClick="korpusui.switchMode('spisy'); return false;">${messages.korpus_subpage_concordance_lists}</a>
  </li>
</ul>
<br/>
    <!--alert *ngIf="serviceSearch.errorSearch" type="danger">{{serviceSearch.errorSearch}}</alert-->
    <div id="error" class="alert alert-danger fade show" role="alert"></div>
    <div id="status" class="alert alert-info fade show" role="alert"></div>

    <!--div class="tab-content" (select)="serviceSearch.selectSearch()" [active]="serviceSearch.typeSearch == 'search'"-->
	    <button id="btnShowSearch" type="button" style="display: none;" class="btn btn-secondary btn-block" onClick="korpusui.maximizeHeader()">${messages.korpus_search_criteria} <img src="icons/down.svg"/></button>
	    <form id="divInputSearch" onSubmit="korpusService.search(); return false;">
		    <div class="row">
		      <#include "input.filter.korpus.html">
		    </div>
		    <div class="row">
		      <#include "input.word.html">
			  <#include "input.word.add.html">
			  <#include "input.word.around.html">
		    </div>
		    <div id="partInputOrder" class="row oneword-hide">
		      <#include "input.order.html">
		    </div>
		    <div class="row justify-content-end">
		      <button type="submit" class="btn btn-danger btn-lg">${messages.korpus_button_search}</button>
		    </div>
	    </form>
	    
	<div id="divSpisy" class="d-none">
		<div class="card">
			<div class="card-body">
				<div>
	                <#include "page.korpus.spisy.html">
	            </div>
			</div>
		</div>
	</div>

      <span id="searchTop" style="position: relative; top: -50px"></span>
        <div id="desc" class="row col-md-12">
            <#include "page.korpus.desc.html">
        </div>
	  <div id="output"></div>

<#include "output.html">
<#include "page.korpus.stat.html">
<#include "dialog.list.html">
<#include "dialog.subcorpuses.html">
<#include "dialog.stylegenres.html">
<#include "dialog.text.html">
<#include "dialog.wordgrammar.html">
<#include "dialog.biblio.html">
