{
  "audioConfig": {
    "audioEncoding": "LINEAR16",
    "pitch": 0,
    "speakingRate": 1
  },
  "input": {
    "ssml": "<speak>@@REQ@@</speak>"
  },
  "voice": {
    "languageCode": "ru-RU",
    "name": "ru-RU-Wavenet-E"
  }
}
