@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  min-height: 400px;
  padding-top: 70px;
  font-family: Arial, sans-serif;
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-top: 121px;
  }
}

.praprajekty {
  font-size: 90%;
  text-align: justify;
}
.praprajekty img {
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #CCC;
  box-shadow: -2px 2px 4px 0 #888;
  float: right;
}

.card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.card-body {
  padding: 1rem;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

.fixed-top {
  margin-bottom: 19px;
}

.notextout {
  overflow-x:hidden;
  overflow-y:hidden;
}

.navbar {
  padding: 0;
}
.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.2em;
  color: #d9534f!important;
}

.wordFound {
  color: red;
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.popover {
	max-width: 90%;
}
.visited {
    color: red;
}

.table-borders td, .table-borders th {
	border: 1px solid black;
}
.hspacing td {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.table-zebra tr:nth-child(odd) {
	background: #EEE;
}
.table-zebra tr:nth-child(even) {
	background: #FFF;
}
table.center {
	margin-left:auto; 
	margin-right:auto;
}
table th {
    text-align: center;
}

#future-hramatycny-output .paradigm-desc {
	color: #995731;
	font-style: italic;
	margin-left: 2em;
}
#future-hramatycny-output i {
	color: #080;
}

.grvalue {
	background: #f9f8d5;
	font-weight: bold;
}

.grtag {
	font-style: italic;
	color: #808080;
	font-weight: normal;
}

.grtagcenter {
	font-style: italic;
	color: #808080;
	text-align: center;
}

.grheadertag {
	font-weight: bold;
}

.grheaderdefault {
	background: #c0c0c0;
}

#desc table {
	width: 100%;
}

#desc table col {
	width: 50%;
}

#desc table td {
	padding: 0.5em;
	border: 1px solid black;
	vertical-align: top;
}

#desc img {
	border: 1px solid black !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
