<script id="template-list" type="text/x-jsrender">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{>title}}</h4>
        <span>
          <button type="button" class="btn btn-secondary" onClick="dialogList.onCancel()">${messages.cancel}</button>
          <button type="button" class="btn btn-primary" onClick="dialogList.onOk()">${messages.choose}</button>
        </span>
      </div>
      <div class="modal-header">
        <span>
          <button type="button" class="btn btn-secondary" onClick="dialogList.all(true)">${messages.select_all}</button>
          <button type="button" class="btn btn-secondary" onClick="dialogList.all(false)">${messages.unselect_all}</button>
        </span>
        <input class="my-auto form-control w-auto" type="text" placeholder="${messages.dialog_filter}" onInput="dialogList.filter(this);">
      </div>
      <div class="modal-body">
        {{for list}}
          <div>
            <label><input type="checkbox" name="{{>}}"> {{>}}</label>
          </div>
        {{/for}}
      </div>
</script>

<div id="dialog-list" class="modal fade" bsModal #styleModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="dialog-list-place" class="modal-content">
    </div>
  </div>
</div>
