<div>
<a href="/articles/grammardb.html">Артыкул "Граматычная база беларускай мовы"</a>
<br>
<a href="/articles/grammardb-simple.html">Артыкул "Пра граматычную базу простымі словамі"</a>
<br>
Граматычная база знаходзіцца на <a href="https://github.com/Belarus/GrammarDB/releases">github</a>
і распаўсюдваецца пад ліцэнзіяй <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
<br>
<iframe style="display:block; margin: 0 auto;" width="640" height="410" src="https://www.youtube.com/embed/NSlmr5SRGVQ" title="video" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>
</div>
