<!DOCTYPE html>
<html lang="${lang}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>${messages.getString(active+"_title")}</title>

    <link rel="stylesheet" href="css/bootstrap-4.5.3.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="icons/favicon.svg">

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/popper-1.16.1.min.js"></script>
    <script src="js/bootstrap-4.5.3.bundle.min.js"></script>
    <script src="js/jsrender-1.0.11.min.js"></script>
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-expand-xl fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="index.html">${messages.getString(active+"_brand")}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <#if lang=='be'><a class="nav-link" href="${active}.en.html">English</a>
                <#else><a class="nav-link" href="${active}.be.html">Па-беларуску</a>
                </#if>
            </li>

            <li class="nav-item"><a class="nav-link" href="index.${lang}.html">${messages.header_about}</a></li>
            <li class="nav-item"><a class="nav-link" href="korpus.${lang}.html">${messages.header_korpus}</a></li>
            <li class="nav-item"><a class="nav-link" href="paralelny.${lang}.html">${messages.header_paralelny}</a></li>
            <li class="nav-item"><a class="nav-link" href="grammar.${lang}.html">${messages.header_grammar}</a></li>
            <li class="nav-item"><a class="nav-link" href="spell.${lang}.html">${messages.header_spell}</a></li>
          </ul>
        </div>
      </div>
    </nav>
<script>
var page = window.location.pathname.replace(/.*\//, "");
if (!page) {
  page = "index.html";
}
var pagelink = document.querySelector("a.nav-link[href$='"+page+"']");
if (pagelink) {
    pagelink.classList.add("active");
}
</script>
