<!DOCTYPE html>
<html lang="be">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>${title}</title>

    <link rel="stylesheet" href="css/bootstrap-4.5.3.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/popper-1.16.1.min.js"></script>
    <script src="js/bootstrap-4.5.3.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="js/jsrender-1.0.11.min.js"></script>
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="index.html">Беларускі N-корпус</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="index.html">Пра праект</a></li>
            <li class="nav-item"><a class="nav-link" href="korpus.html">Корпус</a></li>
            <li class="nav-item"><a class="nav-link" href="grammar.html">Граматычная база</a></li>
            <li class="nav-item"><a class="nav-link" href="download.html">Спампаваць</a></li>
          </ul>
        </div>
      </div>
    </nav>
<script>
var page = window.location.pathname.replace(/.*\//, "");
if (!page) {
  page = "index.html";
}
document.querySelector("a.nav-link[href$='"+page+"']").classList.add("active");
</script>
