<#assign active = "index">
<#assign title = "Беларускі N-корпус">
<#include "header.html">

    <div class="container">

        &nbsp;&nbsp;&nbsp;<span style="color: #0C8349">09.09.2019</span> - Абноўлены Беларускі N-корпус. Дадалося ~5000 тэкстаў аб'ёмам ~12 млн. словаўжыванняў. Таксама перапрацавана пашпартызацыя большай часткі тэкстаў і выпраўлены асобныя тэхнічныя моманты. У абнаўленне ўвайшлі тэксты класікаў беларускай літаратуры: Брыля, Быкава, Бядулі, Глебкі, Дубоўкі, Дударава, Зарэцкага, Караткевіча, Коласа, Купалы, Маўра, Мележа, Панчанкі, Пушчы, Сіпакова, Чорнага, Чыгрынава, Янішчыц і многіх іншых. Агульны аб'ём Асноўнага корпусу складае ~ 163 млн. словаўжыванняў. Аб'ём усяго корпусу (разам з неразабранымі тэкстамі) - ~337 млн. словаўжыванняў. <br/>
        &nbsp;&nbsp;&nbsp;<span style="color: #0C8349">09.02.2017</span> - зменены інтэрфейс корпусу <br/>
        &nbsp;&nbsp;&nbsp;<span style="color: #0C8349">10.08.2016</span> - абноўлена праверка арфаграфіі для LibreOffice і Firefox/Thunderbird (глядзі старонку <a href="download.html">Спампаваць</a>) <br/>
        &nbsp;&nbsp;&nbsp;<span style="color: #0C8349">09.08.2016</span> - абноўлена граматычная база <br/>
        &nbsp;&nbsp;&nbsp;<span style="color: #0C8349">05.08.2016</span> - корпус папоўнены публіцыстычнымі тэкстамі ~20 млн. словаўжыванняў. Агульны аб'ём корпусу - ~80 млн. словаўжыванняў.
        <hr/>

		<p><b>Беларускі N-корпус</b> - першая спроба стварэння публічнага агульнага корпусу беларускай мовы.</p> 
		<p>Лексіка-граматычная база даступная на ўмовах ліцэнзіі <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> (таксама можа быць скарыстаная на ўмовах ліцэнзіі <a target="_blank" href="http://www.gnu.org/licenses/lgpl-3.0.html">LGPLv3</a>).</p>
		<p>Рухавік даступны на ўмовах ліцэнзіі <a target="_blank" href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License, Version 3</a>.</p>
		<p></p>
		<p>Вітаецца любая дапамога: прапановы і крытычныя заўвагі, вычытаныя тэксты (з выходнымі звесткамі), дапамога ў зняцці аманіміі і інш.</p>
		<p>Дасылайце лісты на <a href="mailto:bnkorpus@gmail.com">bnkorpus@gmail.com</a></p>
		<p></p>
		<p>Іншыя корпусы беларускай мовы: 
				<a target="_blank" href="http://grid.bntu.by/corpus/">корпус навуковых тэкстаў Corpus Albaruthenicum</a>,
				<a target="_blank" href="http://ruscorpora.ru/search-para-be.html">паралельны беларуска-руска-беларускі корпус на сайце Нацыянальнага корпусу рускай мовы</a></p>
		<p>Артыкул пра корпус: <a href="articles/Artykul_Koscanki_2018.html">артыкул</a></p>
		<br/>
		<br/>
		<p><b>Belarusian N-korpus</b> is the first publicly available general Belarusian language corpus.</p>
		<p>The grammar database is available under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> (also can be used under <a target="_blank" href="http://www.gnu.org/licenses/lgpl-3.0.html">LGPLv3</a>).</p>
		<p>The corpus engine is available under <a target="_blank" href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License, Version 3</a>.</p>
		<p>Contacts: <a href="mailto:bnkorpus@gmail.com">bnkorpus@gmail.com</a></p>
		<p>Other available Belarusian language corpora: 
				<a target="_blank" href="http://grid.bntu.by/corpus/">Corpus Albaruthenicum - Corpus of the academic Belarusian language</a>,
				<a target="_blank" href="http://ruscorpora.ru/search-para-be.html">Parallel Belarusian-Russian-Belarusian Corpus on the website of the Russian National Corpus</a></p>

		<div class="card-columns">
			<div class="card">
				<div class="card-header">Граматычная база</div>
				<div class="card-body">
					<p>База ўсіх слоў беларускай мовы - падмурак камп'ютэрнай апрацоўкі беларускіх тэкстаў</p>
					<p>Grammar database - database of all words, that will be used for any computer processing tasks</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header"><a href="https://bnkorpus.info/">bnkorpus</a></div>
				<div class="card-body">
					<p>Корпус</p>
					<p>Corpus</p>
				</div>
				<div class="card-footer">
					<p><a href="https://sourceforge.net/projects/korpus/">Зыходнікі / Source code</a></p>
					<p><a href="articles/Artykul_Koscanki_2018.html">артыкул</a></p>
				</div>
			</div>
			<div class="card">
				<div class="card-header"><a href="https://biblija.bnkorpus.info/">Біблійны корпус</a></div>
				<div class="card-body">
					<p>Параўнанне розных варыянтаў перакладу Бібліі</p>
					<p>Bible parallel corpus - translation of Bible comparison</p>
				</div>
			</div>
			<div class="card">
				<div class="card-header">SlounikPlus</div>
				<div class="card-body">
					<p>Праграма для стварэння слоўнікаў</p>
					<p>Software for dictionary creation</p>
				</div>
				<div class="card-footer">
					<a href="https://github.com/alex73/SlounikPlus">Зыходнікі / Source code</a>
				</div>
			</div>
			<div class="card">
				<div class="card-header">Фанетычны канвертар</div>
				<div class="card-body">
				</div>
			</div>
			<div class="card">
				<div class="card-header">Праверка правапісу +анлайн</div>
				<div class="card-body">
				</div>
			</div>
			<div class="card">
				<div class="card-header">Адваротны слоўнік</div>
				<div class="card-body">
				</div>
			</div>
			<div class="card">
				<div class="card-header">Слоўнік амографаў/амафонаў</div>
				<div class="card-body">
				</div>
			</div>
			<div class="card">
				<div class="card-header">Марфемна-словаўтваральны</div>
				<div class="card-body">
				</div>
			</div>
			<div class="card">
				<div class="card-header">Карысныя спасылкі</div>
				<div class="card-body">
					kamputerm, MS
				</div>
			</div>
		</div>
    </div>

<#include "footer.html">
