<#assign active = "index">
<#include "header.html">

    <div class="container">

    <span style="color: #0C8349">10.07.2023</span> 
        <#if lang=='be'> - У раздзеле "<a href="fanetyka.html">Фанетычны канвертар і сінтэз маўлення</a>" з'явілася магчымасць карыстацца сінтэзатарам беларускага маўлення.
        <#elseif lang='en'> - <a href="fanetyka.html">Speech synthesis</a> based on the Belarusian Mozilla Common Voice is added.
        </#if><br/>

    <span style="color: #0C8349">29.05.2023</span>
        <#if lang=='be'> - Змены ў праекце:
        <#elseif lang='en'> - Changes:
        </#if>
    <ul style="margin: 0;">
        <li><#if lang=='be'>абноўлены інтэрфейс пошуку (цяпер можна шукаць з варыянтамі напісання, знакамі прыпынку, пры дапамозе рэгулярных выразаў)
        <#elseif lang='en'>updated search interface (now you can search with spelling options, punctuation marks, regular expressions)
        </#if></li>
        <li><#if lang=='be'>дададзены тэксты 1920-1930х гадоў (~1,5 млн. слоў)
        <#elseif lang='en'>added texts from the 1920s-1930s(~1.5m words)
        </#if></li>
        <li><#if lang=='be'>дададзены дыялектныя тэксты (~500 тыс. слоў)
        <#elseif lang='en'>added dialect texts (~500k words)
        </#if></li>
        <li><#if lang=='be'>часова прыбраны неразабраныя тэксты
        <#elseif lang='en'>temporarily removed unclassified texts
        </#if></li>
    </ul>
    <span style="color: #0C8349">28.12.2022</span> 
        <#if lang=='be'> - Дадаўся руска-беларускі паралельны корпус (пакуль утрымлівае толькі пераклады кодэксаў Рэспублікі Беларусь).
        <#elseif lang='en'> - Parallel Russian-Belarusian corpus has been added (for now, it contains the codes of the Republic of Belarus).
        </#if><br/>

    <div id="more" style="display: flex; justify-content: flex-end">
        <a href="#" onClick="more(); return false"><#if lang=='be'>больш навін &gt;&gt;&gt;<#elseif lang='en'>more news &gt;&gt;&gt;</#if></a>
    </div>
    <div id="moreData" style="display: none">
        <span style="color: #0C8349">09.09.2019</span>
        <#if lang=='be'> - Абноўлены Беларускі N-корпус. Дадалося ~5000 тэкстаў аб'ёмам ~12 млн. словаўжыванняў. Аб'ём Асноўнага корпусу складае ~163 млн. словаўжыванняў. Аб'ём усяго корпусу (разам з неразабранымі тэкстамі) - ~337 млн. словаўжыванняў.
        <#elseif lang='en'> - Belarusian N-corpus has been updated. ~5000 texts with a volume of ~12 million words were added. The volume of the main corpus is ~163 million words. The volume of the whole corpus (together with unclassified texts) is ~337 million usages.
        </#if><br/>
        <span style="color: #0C8349">05.08.2016</span>
        <#if lang=='be'> - Корпус папоўнены публіцыстычнымі тэкстамі ~20 млн. словаўжыванняў. Агульны аб'ём корпусу - ~80 млн. словаўжыванняў.
        <#elseif lang='en'> - The corpus is replenished with newspaper texts of ~ 20 million word usages. The total volume of the corpus is ~ 80 million words.
        </#if>

    <span style="color: #0C8349">04.11.2021</span>
        <#if lang=='be'> - Вялікія змены ў праекце:
        <#elseif lang='en'> - Significant changes:
        </#if>
    <ul style="margin: 0;">
        <li><#if lang=='be'>Значна папоўнены корпус тэкстаў, дададзены новыя падкорпусы, істотна абноўлены інтэрфейс корпусу. Аб'ём корпусу ~177 млн. словаўжыванняў, разам з неразабранымі тэкстамі ~1.07 млрд. словаўжыванняў.
        <#elseif lang='en'>Corpus of texts has been significantly expanded, new subcorpora have been added, and UI has been updated. The volume of the corpus is ~177 million word usages, together with unclassified texts ~1.07 billion word usages.
        </#if></li>
        <li><#if lang=='be'>Абноўлены інтэрфейс граматычнай базы, дадзена інфармацыя пра крыніцы слова.
        <#elseif lang='en'>Grammar database UI has been updated, information about word sources was added.
        </#if></li>
        <li><#if lang=='be'>Дадаўся раздзел анлайн-праверкі беларускага правапісу, а таксама модулі праверкі для розных праграм і аперацыйных сістэм.
        <#elseif lang='en'>Online Belarusian spell checker has been added spelling has been added, as well as verification plugins for various programs and operating systems.
        </#if></li>
        <li><#if lang=='be'>Дадаўся фанетычны канвертар (тэставая версія), які дазваляе канвертаваць тэксты ў транскрыпцыю.
        <#elseif lang='en'>Added a phonetic converter (test version) that allows you to convert texts to transcription.
        </#if></li>
        <li><#if lang=='be'>Дадаліся праекты ў распрацоўцы, створаныя на падставе граматычнай базы (тэставая версія).
        <#elseif lang='en'>Projects in development(test version) that based on grammar database has been added.
        </#if></li>
    </ul>
    <span style="color: #0C8349">29.10.2021</span> 
        <#if lang=='be'> - У выдавецтве «Тэхналогія» выйшла электроннае выданне «Граматычнай базы беларускай мовы», падрыхтаванае сектарам камп’ютарнай лінгвістыкі Інстытута мовазнаўства.
        <#elseif lang='en'> - The publishing house "Technology" has published an electronic edition of the "Grammar Database of the Belarusian Language", prepared by the Department of Computer Linguistics of the Institute of Linguistics.
        </#if><br/>

    </div>
        <hr/>

        <div class="row card-desk row-cols-1 row-cols-md-2 2card-columns praprajekty">
            <div class="p-2">
                <div class="card h-100">
                    <div class="card-header h6"><a href="korpus${langSuffix}.html">
                      <#if lang=='be'>Нацыянальны корпус беларускай мовы<#elseif lang='en'>National Corpus of the Belarusian Language</#if>
                    </a></div>
                    <div class="card-body">
                        <img src="images/korpus.png"/>
                        <p><#if lang=='be'>
                           Корпус тэкстаў сучаснай беларускай мовы са структурнай і граматычнай разметкай і пашпартызацыяй. 
                           Корпус складаецца з некалькіх падкорпусаў: асноўны, неразабраныя тэксты, газеты і сайты, Вікіпедыі (абодва правапісы).
                           Аб'ём корпусу ~177 млн. словаўжыванняў, разам з неразабранымі тэкстамі ~1.07 млрд. словаўжыванняў.
                        <#elseif lang='en'>
                           Corpus of texts of the modern Belarusian language with structural and grammatical marking and certification.
                           The corpus consists of several subcorpora: basic, unclassified texts, newspapers and websites, Wikipedia (both spellings).
                           The volume of the corpus is ~177 million word usages, together with unclassified texts ~1.07 billion word usages.
                        </#if></p>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card h-100">
                    <div class="card-header h6"><a href="grammar.html"><#if lang=='be'>Граматычная база беларускай мовы<#elseif lang='en'>Grammar database of the Belarusian language</#if></a></div>
                    <div class="card-body">
                        <img src="images/baza.png"/>
                        <p><#if lang=='be'>Граматычная база ўяўляе сабой збор слоў з марфалагічнымі і іншымі паметамі. Вартасць граматычнай базы ў тым, 
                            што яна змяшчае не толькі словы, зафіксаваныя ў нарматыўных слоўніках, але і словы, якія з’явіліся ў беларускай мове 
                            за апошнія дзесяцігоддзі і ў слоўніках пакуль не адлюстраваны, што дазваляе назваць дадзеную базу базай актуальнай лексікі беларускай мовы.
                        <#elseif lang='en'>The Grammar database is a collection of words with morphological and other marks. 
                            It contains not only words recorded in normative dictionaries, but also words that have appeared in the Belarusian language 
                            in recent decades and are not yet reflected in dictionaries. 
                            This allows us to call Grammar database the database of actual vocabulary of the Belarusian language.
                        </#if></p>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card h-100">
                    <div class="card-header h6"><a href="spell.html"><#if lang=='be'>Праверка правапісу +анлайн<#elseif lang='en'>Spell checker +web UI</#if></a></div>
                    <div class="card-body">
                        <img src="images/spellchecker.png"/>
                        <p><#if lang=='be'>Анлайнавы сэрвіс, які дапаможа вам пазбавіцца памылак у тэксце, напісаным па-беларуску афіцыйным правапісам. Таксама на старонцы сэрвісу 
                            вы зможаце спампаваць праграму праверкі арфаграфіі для розных браўзераў, Windows (уключна з Skype, Microsoft office і г.д.), LibreOffice/OpenOffice, 
                            Mozilla Firefox/Thunderbird.
                        <#elseif lang='en'>An online service that will help you get rid of errors in the text written in Belarusian official spelling. 
                            Also you can download a spell checker for different browsers, Windows (including Skype, Microsoft office, etc.), LibreOffice/OpenOffice, Mozilla Firefox/Thunderbird.
                        </#if></p>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card h-100">
                    <div class="card-header h6"><a href="fanetyka.html"><#if lang=='be'>Фанетычны канвертар і сінтэз маўлення<#elseif lang='en'>Phonetic converter and voice synthesis</#if></a></div>
                    <div class="card-body">
                        <img src="images/fanietycny.png"/>
                        <p><#if lang=='be'>
                            <p>Анлайнавы канвертар слоў і тэкстаў беларускай мовы у фанетычную транскрыпцыю з выкарыстаннем Між­на­род­на­га фанетычнага алфавіта (IPA) 
                            і беларускай школьнай транскрыпцыі.</p>
                            <p>Сінтэз маўлення зроблены на падставе беларускага Mozilla Common Voice.</p>
                        <#elseif lang='en'>
                            <p>The online converter of Belarusian words and texts to phonetic transcription using International Phonetic Alphabet (IPA) and 
                            Belarusian school transription system.</p>
                            <p>Speech synthesis based on the Belarusian Mozilla Common Voice.</p>
                        </#if></p>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card h-100">
                    <div class="card-header h6"><a target="_blank" href="https://biblija.bnkorpus.info/"><#if lang=='be'>Біблійны корпус<#elseif lang='en'>Bible Corpus</#if></a></div>
                    <div class="card-body">
                        <img src="images/biblijny.png"/>
                        <p><#if lang=='be'>Беларускі Біблійны корпус змяшчае 16 перакладаў Бібліі на беларускую мову, а таксама тэксты на іншых мовах (лаціна, яўрэйская, украінская, 
                            польская і інш.) для параўнанняў і ўяўляе сабой зручны і эфектыўны інструмент для перакладчыкаў і даследчыкаў Бібліі. Пры дапамозе 
                            Біблійнага корпусу вы зможаце супаставіць тэксты перакладаў, а таксама знайсці патрэбнае слова і паглядзець варыянты яго перакладу
                            ў розных выданнях.
                        <#elseif lang='en'>The Belarusian Bible Corpus contains 16 translations of the Bible into Belarusian, as well as texts in other languages 
                            (Latin, Hebrew, Ukrainian, Polish, etc.) for comparisons. This is a convenient and effective tool for Bible translators and researchers. 
                            With the help of the Bible Corpus you will be able to compare the texts of translations, 
                            as well as find the right word and see variants of its translation in different editions.
                        </#if></p>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card h-100">
                    <div class="card-header h6"><a target="_blank" href="https://belarus.github.io/Slouniki-Nasovic/index.html"><#if lang=='be'>Слоўнік Насовіча<#elseif lang='en'>The First Belarusian Dictionary by Ivan Nasovič</#if></a></div>
                    <div class="card-body">
                        <img src="images/nasovic.png"/>
                        <p><#if lang=='be'>Электроннае перавыданне класічнай працы Івана Насовіча «Словарь белорусского наречия» (СПб., 1870) – галоўнай крыніцы 
                            слоўнікаў беларускай мовы канца ХІХ – першай паловы ХХ ст. Яно ўтрымлівае арыгінальны і асучаснены рэестр, арыгінальны тэкст і дадаткі; 
                            дапоўнена матэрыяламі крытычнага, біяграфічнага і бібліяграфічнага характару. Выданне забяспечана магчымасцю пошуку па тэксце і па ключавых словах,
                            падабраных да аўтарскіх расейскамоўных дэфініцый. Адрасавана мовазнаўцам, гісторыкам, этнографам, фалькларыстам і ўсім, хто цікавіцца беларускім словам.
                        <#elseif lang='en'>Ivan Nasovič’s (Nosovich) classic work, Dictionary of the Belarusian Dialect, was published in St Petersburg in 1870. 
                            It became the main source for dictionaries of the Belarusian language in the late 19th and the first half of the 20th centuries. 
                            This digital reproduction of the work contains the original and updated registers, the original text and appendices to it. 
                            They are supplemented with critical, biographical and bibliographic materials. The publication offers full-text and keyword search. 
                            It is intended for linguists, historians, ethnographers, folklorists and all who are interested in the Belarusian language.
                        </#if></p>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card h-100">
                    <div class="card-header h6"><a href="/AIMEF/"><#if lang=='be'>Архіў Інстытута мастацтвазнаўства, этнаграфіі і фальклору<#elseif lang='en'>Archive of the Institute of Art History, Ethnography and Folklore</#if></a></div>
                    <div class="card-body">
                        <img src="images/aimef.jpg"/>
                        <p><#if lang=='be'>
                            Лічбавы архіў, створаны на аснове Калекцыі фальклорных запісаў – найбуйнейшага і найстарэйшага фальклорнага архіва Беларусі.
                            Тут прадстаўлены рукапісы (сканы-копіі экспедыцыйных дзённікаў і сшыткаў з тэкстамі песень, казак, замоў і інш.); 
                            фоназапісы (алічбаваныя гуказапісы беларускага фальклору); нотныя расшыфроўкі; сучасныя экспедыцыйныя фота-, гука- і відэаматэрыялы.
                        <#elseif lang='en'>
                           Digital archive created on the basis of the Collection of folklore records - the largest and oldest folklore archive in Belarus.
                           Manuscripts (scans-copies of expedition diaries and notebooks with texts of songs, fairy tales, orders, etc.) are presented here; 
                           sound recordings (digitized sound recordings of Belarusian folklore); musical transcripts; modern expeditionary photo, sound and video materials.
                        </#if></p>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card h-100">
                    <div class="card-header h6"><a target="_blank" href="https://github.com/alex73/SlounikPlus">SlounikPlus</a></div>
                    <div class="card-body">
                        <img src="images/slounikplus.png"/>
                        <p><#if lang=='be'>
                            Праграма SloŭnikPlus створана з выкарыстаннем сучасных тэхналогій і істотна паляпшае працэс укладання слоўніка – значна павялічваецца 
                            эфектыўнасць, хуткасць і камфортнасць працы у параўнанні з больш звыклымі спосабамі (напрыклад, пры дапамозе MS Office). 
                            Дадатным бокам праграмы ёсць і тое, што яна працуе праз цэнтральны сервер, таму ўкладальнік не прывязаны да канкрэтнага камп’ютара 
                            і можа працаваць з любога месца пры наяўнасці інтэрнэт-падключэння.
                        <#elseif lang='en'>
                            A specific dictionary creating software SloŭnikPlus with a user friendly interface, which may be adapted to make dictionaries 
                            and catalogues of almost any type. SloŭnikPlus (https://sourceforge.net/p/korpus/dict/) is based on modern technologies 
                            and significantly improves dictionary creation process. It makes work faster, comfortable, and more effective in comparison 
                            with usual dictionary creation.
                        </#if></p>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card h-100">
                    <div class="card-header h6"><a href="future.html"><#if lang=='be'>Праекты ў распрацоўцы<#elseif lang='en'>Projects in development</#if></a></div>
                    <div class="card-body">
                        <p><#if lang=='be'>Слоўнікі і іншыя праекты, якія створаны аўтаматычна з граматычнай базы.
                        <#elseif lang='en'>Dictionaries and other projects that are created automatically from the Grammar database.
                        </#if></p>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card h-100">
                    <div class="card-header h6"><#if lang=='be'>Карысныя спасылкі<#elseif lang='en'>Useful links</#if></div>
                    <div class="card-body">
                        <p><a href="https://daviedka.bnkorpus.info/">https://daviedka.bnkorpus.info/</a> - Моўная даведка Інстытута мовазнаўства (НАН Беларусі)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <br/><br/>
    <p class="text-center">${messages.footer_email}</p>
    </div>

    <script>
      function more() {
        $('#more').hide();
        $('#moreData').show();
      }
    </script>

<#include "footer.html">
