<#assign active = "index">
<#assign title = "Беларускі N-корпус">
<#include "header.html">

    <div class="container">

        &nbsp;&nbsp;&nbsp;<span style="color: #0C8349">09.09.2019</span> - Абноўлены Беларускі N-корпус. Дадалося ~5000 тэкстаў аб'ёмам ~12 млн. словаўжыванняў. Таксама перапрацавана пашпартызацыя большай часткі тэкстаў і выпраўлены асобныя тэхнічныя моманты. У абнаўленне ўвайшлі тэксты класікаў беларускай літаратуры: Брыля, Быкава, Бядулі, Глебкі, Дубоўкі, Дударава, Зарэцкага, Караткевіча, Коласа, Купалы, Маўра, Мележа, Панчанкі, Пушчы, Сіпакова, Чорнага, Чыгрынава, Янішчыц і многіх іншых. Агульны аб'ём Асноўнага корпусу складае ~ 163 млн. словаўжыванняў. Аб'ём усяго корпусу (разам з неразабранымі тэкстамі) - ~337 млн. словаўжыванняў. <br/>
        &nbsp;&nbsp;&nbsp;<span style="color: #0C8349">09.02.2017</span> - зменены інтэрфейс корпусу <br/>
        &nbsp;&nbsp;&nbsp;<span style="color: #0C8349">10.08.2016</span> - абноўлена праверка арфаграфіі для LibreOffice і Firefox/Thunderbird (глядзі старонку <a href="download.html">Спампаваць</a>) <br/>
        &nbsp;&nbsp;&nbsp;<span style="color: #0C8349">09.08.2016</span> - абноўлена граматычная база <br/>
        &nbsp;&nbsp;&nbsp;<span style="color: #0C8349">05.08.2016</span> - корпус папоўнены публіцыстычнымі тэкстамі ~20 млн. словаўжыванняў. Агульны аб'ём корпусу - ~80 млн. словаўжыванняў.
        <hr/>

		<!--p><b>Беларускі N-корпус</b> - першая спроба стварэння публічнага агульнага корпусу беларускай мовы.</p> 
		<p>Лексіка-граматычная база даступная на ўмовах ліцэнзіі <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> (таксама можа быць скарыстаная на ўмовах ліцэнзіі <a target="_blank" href="http://www.gnu.org/licenses/lgpl-3.0.html">LGPLv3</a>).</p>
		<p>Рухавік даступны на ўмовах ліцэнзіі <a target="_blank" href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License, Version 3</a>.</p>
		<p></p>
		<p>Вітаецца любая дапамога: прапановы і крытычныя заўвагі, вычытаныя тэксты (з выходнымі звесткамі), дапамога ў зняцці аманіміі і інш.</p>
		<p>Дасылайце лісты на <a href="mailto:bnkorpus@gmail.com">bnkorpus@gmail.com</a></p>
		<p></p>
		<p>Іншыя корпусы беларускай мовы: 
				<a target="_blank" href="http://grid.bntu.by/corpus/">корпус навуковых тэкстаў Corpus Albaruthenicum</a>,
				<a target="_blank" href="http://ruscorpora.ru/search-para-be.html">паралельны беларуска-руска-беларускі корпус на сайце Нацыянальнага корпусу рускай мовы</a></p>
		<p>Артыкул пра корпус: <a href="articles/Artykul_Koscanki_2018.html">артыкул</a></p>
		<br/>
		<br/>
		<p><b>Belarusian N-korpus</b> is the first publicly available general Belarusian language corpus.</p>
		<p>The grammar database is available under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> (also can be used under <a target="_blank" href="http://www.gnu.org/licenses/lgpl-3.0.html">LGPLv3</a>).</p>
		<p>The corpus engine is available under <a target="_blank" href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License, Version 3</a>.</p>
		<p>Contacts: <a href="mailto:bnkorpus@gmail.com">bnkorpus@gmail.com</a></p>
		<p>Other available Belarusian language corpora: 
				<a target="_blank" href="http://grid.bntu.by/corpus/">Corpus Albaruthenicum - Corpus of the academic Belarusian language</a>,
				<a target="_blank" href="http://ruscorpora.ru/search-para-be.html">Parallel Belarusian-Russian-Belarusian Corpus on the website of the Russian National Corpus</a></p-->

		<div class="row card-desk row-cols-1 row-cols-md-2 2card-columns praprajekty">
			<div class="p-2">
				<div class="card h-100">
					<div class="card-header h6"><a href="korpus.html">Беларускі N-корпус</a></div>
					<div class="card-body">
						<img src="images/korpus.png"/>
						<p>Корпус тэкстаў сучаснай беларускай мовы са структурнай і граматычнай разметкай і пашпартызацыяй. 
							Корпус складаецца з некалькіх падкорпусаў: асноўны, неразабраныя тэксты, газеты і сайты, Вікіпедыі (абодва правапісы).
							Агульны аб'ём Асноўнага корпусу складае ~ 163 млн. словаўжыванняў. Аб'ём усяго корпусу - ~337 млн. словаўжыванняў.</p>
					</div>
					<div class="card-footer">
						<p><a href="https://sourceforge.net/projects/korpus/">Зыходнікі / Source code</a></p>
						<p><a href="articles/Artykul_Koscanki_2018.html">артыкул</a></p>
					</div>
				</div>
			</div>
			<div class="p-2">
				<div class="card h-100">
					<div class="card-header h6"><a href="grammar.html">Лексіка-граматычная база (ЛГБ)</a></div>
					<div class="card-body">
						<img src="images/baza.png"/>
						<p>ЛГБ ўяўляе сабой збор слоў з марфалагічнымі і іншымі паметамі. Вартасць лексіка-граматычнай базы ў тым, 
							што яна змяшчае не толькі словы, зафіксаваныя ў нарматыўных слоўніках, але і словы, якія з’явіліся ў беларускай мове 
							за апошнія дзесяцігоддзі і ў слоўніках пакуль не адлюстраваны, што дазваляе  назваць дадзеную базу базай актуальнай лексікі беларускай мовы.</p>
					</div>
				</div>
			</div>
			<div class="p-2">
				<div class="card h-100">
					<div class="card-header h6"><a target="_blank" href="https://biblija.bnkorpus.info/">Біблійны корпус</a></div>
					<div class="card-body">
						<img src="images/biblijny.png"/>
						<p>Беларускі Біблійны корпус змяшчае 16 перакладаў Бібліі на беларускую мову, а таксама тэксты на іншых мовах (лаціна, яўрэйская, украінская, 
							польская і інш.) для параўнанняў і ўяўляе сабой зручны і эфектыўны інструмент для перакладчыкаў і даследчыкаў Бібліі. Пры дапамозе 
							Біблійнага корпусу вы зможаце супаставіць тэксты перакладаў, а таксама знайсці патрэбнае слова і паглядзець варыянты яго перакладу
							ў розных выданнях.</p>
					</div>
				</div>
			</div>
			<div class="p-2">
				<div class="card h-100">
					<div class="card-header h6"><a href="/spellchecker/">Праверка правапісу +анлайн</a></div>
					<div class="card-body">
						<p>Анлайнавы сэрвіс, які дапаможа вам пазбавіцца памылак у тэксце, напісаным па-беларуску афіцыйным правапісам. Таксама на старонцы сэрвісу 
							вы зможаце спампаваць праграму праверкі арфаграфіі для Windows (уключна з Skype, Microsoft office і г.д.), LibreOffice/OpenOffice, 
							Mozilla Firefox/Thunderbird</p>
					</div>
				</div>
			</div>
			<div class="p-2">
				<div class="card h-100">
					<div class="card-header h6"><a target="_blank" href="https://github.com/alex73/SlounikPlus">SlounikPlus</a></div>
					<div class="card-body">
						<img src="images/slounikplus.png"/>
						<p>Праграма SloŭnikPlus створана з выкарыстаннем сучасных тэхналогій і істотна паляпшае працэс укладання слоўніка – значна павялічваецца 
							эфектыўнасць, хуткасць і камфортнасць працы у параўнанні з больш звыклымі спосабамі (напрыклад, пры дапамозе MS Office). 
							Дадатным бокам праграмы ёсць і тое, што яна працуе праз цэнтральны сервер, таму ўкладальнік не прывязаны да канкрэтнага камп’ютара 
							і можа працаваць з любога месца пры наяўнасці інтэрнэт-падключэння.</p>
						<p>A specific dictionary creating software SloŭnikPlus with a user friendly interface, which may be adapted to make dictionaries 
							and catalogues of almost any type. SloŭnikPlus (https://sourceforge.net/p/korpus/dict/) is based on modern technologies 
							and significantly improves dictionary creation process. It makes work faster, comfortable, and more effective in comparison 
							with usual dictionary creation.</p>
					</div>
				</div>
			</div>
			<div class="p-2">
				<div class="card h-100">
					<div class="card-header h6"><a href="/fanetyka/">Фанетычны канвертар</a></div>
					<div class="card-body">
						<img src="images/fanietycny.png"/>
						<p>Анлайнавы канвертар слоў і тэкстаў беларускай мовы у фанетычную транскрыпцыю з выкарыстаннем Міжнароднага фанетычнага алфавіта (IPA) 
							і беларускай школьнай транскрыпцыі. </p>
						<p>The online converter of Belarusian words and texts to phonetic transcription using International Phonetic Alphabet (IPA) and 
							Belarusian school transription system.</p>
					</div>
				</div>
			</div>
			<div class="p-2">
				<div class="card h-100">
					<div class="card-header h6">Адваротны слоўнік</div>
					<div class="card-body">
						<p>Анлайнавы слоўнік, у якім словы адсартаваныя ў алфавітным парадку з улікам адваротнага чытання, гэта значыць не па пачатковых, 
							а па канцавых літарах. Такія слоўнікі карысныя пры вывучэнні словаўтварэння. У камп'ютарнай лінгвістыцы яны выкарыстоўваюцца як 
							аснова для ўкладання і праверкі слоўнікаў словаформаў. Адваротны слоўнік таксама можа быць выкарыстаны ў якасці слоўніка рыфмаў.</p>
					</div>
				</div>
			</div>
			<div class="p-2">
				<div class="card h-100">
					<div class="card-header h6">Слоўнік амаформаў/амографаў/амафонаў</div>
					<div class="card-body">
						<p>Анлайнавы слоўнік, які змяшчае наступныя групы амонімаў:</p>
						<ul>
							<li>Амаформы (граматычныя амонімы) - словы, якія звычайна адносяцца да розных часцін мовы і супадаюць толькі ў некаторых марфалагічных формах, напрыклад: вусны (назоўнік множнага ліку) і вусны (прыметнік), кліч (назоўнік) і кліч (дзеяслоў загаднага ладу);</li> 
							<li>Амафоны (фанетычныя амонімы) - словы, якія аднолькава гучаць, але адрозніваюцца напісаннем і значэннем, напрыклад: грыб — грып, везці — весці;</li>
							<li>Амографы (графічныя амонімы) - словы ці формы слоў, якія аднолькава пішуцца, але маюць рознае значэнне і розны націск (па+ра і пара+, пры+клад і прыкла+д).</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="p-2">
				<div class="card h-100">
					<div class="card-header h6">Марфемна-словаўтваральны</div>
					<div class="card-body">
						<p>Анлайнавы слоўнік, які змяшчае інфармацыю аб словаўтваральных асаблівасцях і марфемнай структуры найбольш ужываных слоў беларускай мовы.</p>
					</div>
				</div>
			</div>
			<div class="p-2">
				<div class="card h-100">
					<div class="card-header h6">Карысныя спасылкі</div>
					<div class="card-body">
						kamputerm, MS, https://pravilna.by/
					</div>
				</div>
			</div>
		</div>
    </div>

	<p>Дасылайце лісты на <a href="mailto:bnkorpus@gmail.com">bnkorpus@gmail.com</a></p>

<#include "footer.html">
