<!DOCTYPE html>
<html lang="be" data-lt-installed="true"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Праверка правапісу</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <!--script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://www.languagetool.org/js/jquery-1.7.0.min.js"></script>
    <script type="text/javascript" src="https://www.languagetool.org/online-check/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="https://www.languagetool.org/online-check/tiny_mce/plugins/atd-tinymce/editor_plugin2.js"></script>
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Беларускі N-корпус</a>
      </div>
    </nav>

<div class="container">
    <div style="font-size: 2em;text-align: center;">Праверка правапісу</div>

    <form name="checkform" action="http://community.languagetool.org" method="post">
        <div id="checktextpara" style="border: 1px solid #ced4da; border-radius: .25rem;">
            <textarea id="checktext" name="text" style="width: 100%" rows="10">Напішыце тут нешта</textarea>
        </div>

        <div>
            <select name="lang" id="lang" style="display: none">
                <option value="be">Belarusian</option>
            </select>
            <div class="row my-4" style="justify-content:space-between;">
                <div>
                    <div id="feedbackMessage"></div>
                    <div id="feedbackErrorMessage" style="color: red;"></div>
                </div>
                <button type="submit" name="_action_checkText" class="btn btn-danger btn-lg" onClick="doit();return false;">Спраўдзіць</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <hr/>
    Мы раім усталяваць праверку правапісу на свой камп'ютар у выглядзе дадатка <a href="https://languagetool.org/">LanguageTool</a>.
    <div class="row justify-content-center">
        <a href="https://chrome.google.com/webstore/detail/grammar-and-spell-checker/oldceeleldhonbafppcapldpdifcinji" class="text-center p-3">
            <img width="64" height="64" src="https://languagetool.org/images/add-on-chrome.png" />
            <div>Chrome</div>
        </a>
        <a href="https://addons.mozilla.org/firefox/addon/languagetool/" class="text-center p-3">
            <img width="64" height="64" src="https://languagetool.org/images/add-on-firefox.png" />
            <div>Firefox</div>
        </a>
        <a href="https://apps.apple.com/app/id1534275760" class="text-center p-3">
            <img width="64" height="64" src="https://languagetool.org/images/add-on-safari.png" />
            <div>Safari</div>
        </a>
        <a href="https://microsoftedge.microsoft.com/addons/detail/hfjadhjooeceemgojogkhlppanjkbobc" class="text-center p-3">
            <img width="64" height="64" src="https://languagetool.org/images/add-on-edge.png" />
            <div>Edge</div>
        </a>
        <a href="https://addons.opera.com/extensions/details/grammar-and-spell-checker-languagetool/" class="text-center p-3">
            <img width="64" height="64" src="https://languagetool.org/images/add-on-opera.png" />
            <div>Opera</div>
        </a>
        <a href="https://addons.thunderbird.net/thunderbird/addon/grammar-and-spell-checker/" class="text-center p-3">
            <img width="64" height="64" src="https://languagetool.org/images/add-on-thunderbird.png" />
            <div>Thunderbird</div>
        </a>
    </div>
    <div class="row justify-content-center">
        <a href="https://extensions.libreoffice.org/en/extensions/show/languagetool" class="text-center p-3">
            <img width="64" height="64"  src="https://languagetool.org/images/add-on-libre-office.png" />
            <div>LibreOffice</div>
        </a>
        <a href="https://extensions.openoffice.org/project/languagetool" class="text-center p-3">
            <img width="64" height="64"  src="https://languagetool.org/images/add-on-open-office.png" />
            <div>OpenOffice</div>
        </a>
        <a href="https://appsource.microsoft.com/product/office/wa104381727" class="text-center p-3">
            <img width="64" height="64"  src="https://languagetool.org/images/add-on-word.png" />
            <div>Word</div>
        </a>
        <a href="https://gsuite.google.com/marketplace/app/grammar_and_spell_checker_languagetool/805250893316" class="text-center p-3">
            <img width="64" height="64"  src="https://languagetool.org/images/add-on-docs.png" />
            <div>Google Docs</div>
        </a>
    </div>
    <div class="row justify-content-center">
        <a href="https://apps.apple.com/app/id1534275760" class="text-center p-3">
            <img width="64" height="64"  src="https://languagetool.org/images/add-on-mac.png" />
            <div>macOS</div>
        </a>
        <a href="https://languagetool.org/download/windows-app/LanguageTool-1.0.2.exe" class="text-center p-3">
            <img width="64" height="64"  src="https://languagetool.org/images/add-on-windows.png" />
            <div>Windows</div>
        </a>
    </div>
У LibreOffice, пачынаючы з версіі 7.2.2, вы можаце выкарыстоўваць граматычную базу для праверкі правапісу, вызначыўшы мову тэксту праз "Tools/Language", і уключыўшы аўтаматычную праверку правапісу праз "Tools/Automatic Spell Checking" і адмысловую праверку праз "Tools/Spelling..."
<br/>
Вы можаце скарыстацца абмежаваным, але больш інтэграваным у Windows і Microsoft Office дадаткам:
</div>

<script language="javascript" type="text/javascript">  
  tinyMCE.init({
     mode : "textareas",
     plugins : "AtD,paste",
     paste_text_sticky : true,
     setup : function(ed) {
         ed.onInit.add(function(ed) {
             ed.pasteAsPlainText = true;
         });
     },  
     /* translations: */
     languagetool_i18n_no_errors : {
         // "No errors were found.":
         "be": "Памылак не знойдзена"
     },
     languagetool_i18n_explain : {
         // "Explain..." - shown if there is an URL with a detailed description:
         "be": "Падрабязней..."
     },
     languagetool_i18n_ignore_once : {
         // "Ignore this error":
         "be": "Ігнараваць гэтую памылку"
     },
     languagetool_i18n_ignore_all : {
         // "Ignore this kind of error":
         "be": "Ігнараваць памылкі такога кшталту"
     },
     languagetool_i18n_rule_implementation : {
         // "Rule implementation":
         "be": "Правіла"
     },
 
     languagetool_i18n_current_lang     : function() { return document.checkform.lang.value; },
     /* The URL of your LanguageTool server.
        If you use your own server here and it's not running on the same domain 
        as the text form, make sure the server gets started with '--allow-origin ...' 
        and use 'https://your-server/v2/check' as URL: */
     languagetool_rpc_url                 : "https://languagetool.org/api/v2/check",
     /* edit this file to customize how LanguageTool shows errors: */
     languagetool_css_url : "https://www.languagetool.org/online-check/tiny_mce/plugins/atd-tinymce/css/content.css",
     /* this stuff is a matter of preference: */
     theme                              : "advanced",
     theme_advanced_buttons1            : "",
     theme_advanced_buttons2            : "",
     theme_advanced_buttons3            : "",
     theme_advanced_toolbar_location    : "none",
     theme_advanced_toolbar_align       : "left",
     theme_advanced_statusbar_location  : "bottom",
     theme_advanced_path                : false,
     theme_advanced_resizing            : true,
     theme_advanced_resizing_use_cookie : false,
     gecko_spellcheck                   : false
  });
 
  function doit() {
     $("#feedbackMessage").text('');
     $("#feedbackErrorMessage").text('');
     var langCode = document.checkform.lang.value;
     tinyMCE.activeEditor.execCommand("mceWritingImprovementTool", langCode);
  }
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40650744-1', 'auto');
  ga('send', 'pageview');
</script>
</body></html>
