<div class="card collapse" style="width: 100%" id="divInputFilterText">
    <div class="card-body">
            <div class="form-group row my-1" id="parallel-filter" style="display: none">
                <label for="inputFilterYearPublishedFrom" class="col-sm-4 col-md-3 col-lg-2 col-form-label">${messages.korpus_filter_lang}</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="parallel_bel" name="customRadioInline" class="custom-control-input" onClick="korpusui.switchLanguage('bel');">
                      <label class="custom-control-label" for="parallel_bel">${messages.korpus_filter_lang_bel}</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="parallel_rus" name="customRadioInline" class="custom-control-input" onClick="korpusui.switchLanguage('rus');" checked>
                      <label class="custom-control-label" for="parallel_rus">${messages.korpus_filter_lang_rus}</label>
                    </div>
                </div>
            </div>
            <div class="form-group row my-1">
                <label for="inputFilterCorpus" class="col-sm-4 col-md-3 col-lg-2 col-form-label">${messages.korpus_filter_subcorpuses}</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <a href="#" class="form-control notextout" id="inputFilterCorpusNames" onClick="dialogSubcorpuses = new DialogSubcorpuses(); return false;"></a>
                    <span id="inputFilterCorpus" class="d-none"></span>
                </div>
            </div>
            <div id="inputFilterAuthorShow" class="form-group row my-1">
                <label for="inputFilterAuthor" class="col-sm-4 col-md-3 col-lg-2 col-form-label">${messages.korpus_filter_authors}</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <a href="#" class="form-control notextout" id="inputFilterAuthor" onClick="dialogList = new DialogList(korpusService.initial.authors, 'inputFilterAuthor', '${messages.korpus_filter_authors}'); return false;"></a>
                </div>
            </div>
            <div id="inputFilterSourceShow" class="form-group row my-1">
                <label for="inputFilterSource" class="col-sm-4 col-md-3 col-lg-2 col-form-label">${messages.korpus_filter_sources}</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <a href="#" class="form-control notextout" id="inputFilterSource" onClick="dialogList = new DialogList(korpusService.initial.sources, 'inputFilterSource', '${messages.korpus_filter_sources}'); return false;"></a>
                </div>
            </div>
            <div id="inputFilterStyleShow" class="form-group row my-1">
                <label for="inputFilterStyle" class="col-sm-4 col-md-3 col-lg-2 col-form-label">${messages.korpus_filter_stylesgenres}</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <a href="#" class="form-control notextout" id="inputFilterStyle" onClick="dialogStyleGenres = new DialogStyleGenres(); return false;"></a>
                </div>
            </div>
            <div id="inputFilterYearWrittenShow" class="form-group row my-1">
                <label for="inputFilterYearWrittenFrom" class="col-sm-4 col-md-3 col-lg-2 col-form-label">${messages.korpus_filter_yearwritten}</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <div class="form-inline">
                        <label for="inputFilterYearWrittenFrom" class="px-2">${messages.korpus_filter_from}</label>
                        <input id="inputFilterYearWrittenFrom" type="text" class="form-control" size="4" maxlength="4">
                        <label for="inputFilterYearWrittenTo" class="px-2">${messages.korpus_filter_to}</label>
                        <input id="inputFilterYearWrittenTo" type="text" class="form-control" size="4" maxlength="4">
                    </div>
                </div>
            </div>
            <div id="inputFilterYearPublishedShow" class="form-group row my-1">
                <label for="inputFilterYearPublishedFrom" class="col-sm-4 col-md-3 col-lg-2 col-form-label">${messages.korpus_filter_yearpublished}</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <div class="form-inline">
                        <label for="inputFilterYearPublishedFrom" class="px-2">${messages.korpus_filter_from}</label>
                        <input id="inputFilterYearPublishedFrom" type="text" class="form-control" size="4" maxlength="4">
                        <label for="inputFilterYearPublishedTo" class="px-2">${messages.korpus_filter_to}</label>
                        <input id="inputFilterYearPublishedTo" type="text" class="form-control" size="4" maxlength="4">
                    </div>
                </div>
            </div>
    </div>
    <!--div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputFilterOther" class="col-sm-2 control-label">Частка</label>
                <div class="col-sm-10">
                    <input id="inputFilterOther" class="form-control">
                </div>
            </div>
        </div>
    </div-->
</div>
