<form onSubmit="grammarService.search(); return false;">
<div class="card">
	<div class="card-body">
		<div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="form-row">
                    <div class="form-inline form-group my-1">
                        <label>Слова</label>
                        <input id="grammarword-word" type="text" placeholder="уводзіць тут" class="form-control ml-2 w-50" name="wordText">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form-inline my-1">
                    <label class="radio-inline">
                        <input id="grammarword-firstform" type="radio" name="wordForm" class="form-control mr-2" checked>
                        Па пачатковай форме</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form-inline my-1">
                    <label class="radio-inline">
                        <input id="grammarword-multiform" type="radio" name="wordForm" class="form-control mr-2">
                        Па ўсіх формах</label>
                    </div>
                </div>
                <div class="form-row">
                    <div id="grammar-show-grammardetails" class="form-inline form-group my-1 word-select">
                        <span id="grammarword-grammar" class="d-none wordgram-grammar-string"></span>
                        <label>Удакладніць граматыку</label>
                        <a href="#" id="grammarword-grammarshow" class="form-control wordgram-display ml-2"
                            onClick="dialogWordGrammar = DialogWordGrammar.createParadigmTagsDialog(this, document.getElementById('grammarword-multiform').checked); return false;">---</a>
                    </div>
                </div>
                <div class="form-row">
                    <div id="grammar-show-all" class="form-inline form-group my-1" style="display: none">
                        <label><input id="grammarword-full" type="checkbox" name="wordForm" class="form-control mr-2">
                        Шукаць па ўсёй базе</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form-inline my-1">
                        &nbsp;
                    </div>
                </div>
                <div class="form-row">
                    <div id="grammar-show-reset" class="form-group form-inline my-1" style="display: none">
                        <button type="button" class="btn btn-secondary btn-sm form-control"
                            onClick="grammarui.resetControls();">Скінуць налады пошуку</button>
                    </div>
                </div>
            </div>
			<div class="col-sm-12 col-lg-6">
				<div id="grammar-show-order" class="form-inline my-1" style="display: none">
					Парадак:
					<label class="radio-inline pl-2"><input type="radio" id="inputOrderStandard" name="inputOrder" class="form-control mr-2" value="STANDARD" checked> Звычайны</label>
					<label class="radio-inline pl-2"><input type="radio" id="inputOrderReverse"  name="inputOrder" class="form-control mr-2" value="REVERSE"> Адваротны</label>
				</div>
				<div id="grammar-show-forms" class="form-inline my-1 word-select" style="display: none">
					<span id="grammarwordshow-grammar" class="d-none wordgram-grammar-string"></span>
					<label>Паказваць адмысловую форму: <a href="#" id="grammarwordshow-grammarshow" class="form-control wordgram-display wordgram-display-formsonly ml-2"
							onClick="dialogWordGrammar = DialogWordGrammar.createFormOnlyTagsDialog(this, 'grammarword-grammar'); return false;">---</a>
					</label>
				</div>
				<div id="grammar-show-grouping" class="form-inline my-1" style="display: none">
					<label class="checkbox-inline"><input type="checkbox" id="inputGrouping" class="form-control mr-2" name="grouping" onChange="grammarui.visibilityChange()"> Групаваць</label>
				</div>
				<div id="grammar-show-noforms" class="form-inline my-1" style="display: none">
					Калі ўдакладніць граматыку і абраць часціну мовы, у якой слова можа мець некалькі формаў, можна выводзіць форму, іншую за пачатковую
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-end my-4">
  <button type="submit" class="btn btn-danger btn-lg">Пошук</button>
</div>
</form>

<div id="error" class="alert alert-danger fade show" role="alert"></div>
<div id="status" class="alert alert-info fade show" role="alert"></div>

<div class="row">
    <div id="output" class="col-md-12"></div>
</div>
<div class="row">
    <div id="desc" class="col-md-12">
        <#include "page.grammar.desc.html">
    </div>
</div>
<div class="row">
    <div id="grammarStat" class="col-md-12"></div>
</div>

<script id="template-grammaroutput" type="text/x-jsrender">
  {{for lemmas}}
    {{if !~root.reverse}}
     <div class="row">
       <div style="width: 100%; font-size: 120%">
       <a href="#" onClick="grammarService.loadDetails({{:pdgId}}); return false;">{{>output}}</a>
       {{if meaning}}&nbsp;&nbsp;‘{{>meaning}}’{{/if}}
       <span class="grtag">&ndash; {{>grammar}}</span>
       </div>
     </div>
    {{else}}
     <div class="row" style="text-align: right">
       <div  style="width: 100%; font-size: 120%">
       <span class="grtag">{{>grammar}} &ndash;</span>
       {{if meaning}}‘{{>meaning}}’&nbsp;&nbsp;{{/if}}
       <a href="#" onClick="grammarService.loadDetails({{:pdgId}}); return false;">{{>output}}</a>
       </div>
     </div>
    {{/if}}
  {{/for}}
</script>

<#include "page.grammar.stat.html">
<#include "dialog.wordgrammar.html">
<#include "dialog.grammardb.html">
