<div>
<a href="/articles/corpus.html">Артыкул "Нацыянальны корпус беларускай мовы ў кантэксце корпуснай лінгвістыкі славянскіх краін"</a>
<br>
Зыходнікі рухавіка корпусу знаходзяцца на <a href="https://github.com/alex73/Software-Korpus">github</a>
і распаўсюдваюцца пад ліцэнзіяй <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>.
<br>
Граматычная база знаходзіцца на <a href="https://github.com/Belarus/GrammarDB/releases">github</a>
і распаўсюдваецца пад ліцэнзіяй <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
<br>
Для даследчыкаў і праектаў, звязаных з беларускай мовай, даступны поўны архіў сказаў корпусу. Калі ён вам патрэбны, пішыце на <a href="mailto:bnkorpus@gmail.com">bnkorpus@gmail.com</a>.
<br><br><br>
</div>
