@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  min-height: 400px;
  padding-top: 70px;
  font-family: 'Roboto';
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-top: 121px;
  }
}

.navbar-default .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 250%;
  color: #d9534f;
}

.wordFound {
  color: red;
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.hspacing {
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.popover {
	max-width: 90%;
}
.visited {
    color: black;
}

.table-borders td, .table-borders th {
	border: 1px solid black;
}
.hspacing td {
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.table-zebra tr:nth-child(odd) {
	background: #EEE;
}
.table-zebra tr:nth-child(even) {
	background: #FFF;
}
table.center {
	margin-left:auto; 
	margin-right:auto;
}
table th {
    text-align: center;
}
