<div class="col-sm-6 col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			Слова
			<a *ngIf="displayRemove" class="glyphicon glyphicon-remove" style="float: right" (click)="remove()"><span aria-hidden="true"></span></a>
		</div>
		<div class="panel-body form-inline">
				<div class="form-group" style="width: 100%">
				    <input type="text" placeholder="уводзіць тут" class="form-control" [(ngModel)]="word.word" name="wordText" style="width: 100%">
				</div>
				<div class="form-group" style="padding-top: 1em;">
				  <label>Граматыка</label>
				  <a href="#" class="form-control" (click)="grammarClick()">{{word.display}}</a>
				</div>
			    <div class="checkbox">
			      <label>Усе словаформы
			        <input type="checkbox" [(ngModel)]="word.allForms" name="allForms">
			      </label>
			    </div>
		</div>
	</div>
</div>

<div class="modal fade" bsModal #wordgramModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Граматыка</h4>
        <button type="button" class="btn btn-primary pull-right hspacing" (click)="wordgramModalOk()">Абраць</button>
        <button type="button" class="btn btn-default pull-right hspacing" (click)="wordgramModalCancel()">Скасаваць</button>
      </div>
      <div class="modal-body">
        <select class="form-control" [(ngModel)]="grselected">
          <option value="">-- Не абраная --</option>
          <option *ngFor="let gwt of grammarWordTypes" value="{{gwt.key}}">{{gwt.value}}</option>
        </select>
        <br/>
        <div *ngIf="grammarWordTypesGroups && grammarWordTypesGroups[grselected]">
          <div *ngFor="let group of grammarWordTypesGroups[grselected].groups">
            <div *ngIf="!group.hidden" class="panel panel-default">
              <div class="panel-heading">{{group.name}}</div>
              <div class="panel-body">
                <span *ngFor="let it of group.items" style="padding-right: 1em">
                  <label><input type="checkbox" [(ngModel)]="grchecked[group.name][it.code]"> {{it.description}} ({{it.code}})</label>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
