<div class="panel panel-default">
    <div class="panel-body" style="text-align: center">
          <label class="radio-inline"><input type="radio" name="inputCorpusType" value="MAIN" [(ngModel)]="serviceSearch.inputCorpusType"> Асноўны корпус</label>
          <label class="radio-inline"><input type="radio" name="inputCorpusType" value="UNSORTED" [(ngModel)]="serviceSearch.inputCorpusType"> Неразабраныя тэксты</label>
    </div>
</div>

<tabset>
    <tab heading="Пошук" (select)="serviceSearch.selectSearch()" [active]="serviceSearch.typeSearch == 'search'">
	    <br/>
	    <alert *ngIf="serviceSearch.errorSearch" type="danger">{{serviceSearch.errorSearch}}</alert>
	    <button #btnShowSearch type="button" style="display: none;" class="btn btn-default btn-block" (click)="serviceSearch.maximizeSearch()">Крытэрыі пошуку <img src="/icons/down.svg"/></button>
	    <form #divInputSearch (submit)="serviceSearch.search()">
		    <div class="row">
		      <input-filter-korpus></input-filter-korpus>
		    </div>
		    <div class="row">
		      <input-word 
		           *ngFor="let w of serviceSearch.inputWords" 
		           [word]="w" 
                   [displayRemove]="serviceSearch.inputWords.length > 1"
                   [removeFunction]="serviceSearch.removeWord"
                   [grammarTree] = "serviceSearch.initial.grammar.grammarTree"
                   [grammarWordTypes] = "serviceSearch.initial.grammar.grammarWordTypes"
                   [grammarWordTypesGroups] = "serviceSearch.initial.grammar.grammarWordTypesGroups"
		           ></input-word>
		      <input-word-add></input-word-add>
		    </div>
		    <div class="row">
		      <input-order></input-order>
		    </div>
		    
		    <div class="row">
		      <button type="submit" class="btn btn-danger btn-lg" (click)="serviceSearch.search()">Пошук</button>
		    </div>
	    </form>
	    <alert *ngIf="serviceSearch.statusSearch" type="info">{{serviceSearch.statusSearch}}</alert>
	
	    <output-search *ngIf="serviceSearch.resultSearch"></output-search>
	</tab>
	<tab heading="KWIC" (select)="serviceSearch.selectKWIC()" [active]="serviceSearch.typeSearch == 'kwic'">
	    <br/>
	    <alert *ngIf="serviceSearch.errorSearch" type="danger">{{serviceSearch.errorSearch}}</alert>
	    <button #btnShowKwic type="button" style="display: none;" class="btn btn-default btn-block" (click)="serviceSearch.maximizeKwic()">Крытэрыі пошуку <img src="/icons/down.svg"/></button>
	    <form #divInputKwic (submit)="serviceSearch.search()">
		    <div class="row">
		      <input-filter-korpus></input-filter-korpus>
		    </div>
		    <div class="row">
		      <input-word 
		           *ngFor="let w of serviceSearch.inputWords" 
		           [word]="w"
                   [displayRemove]="serviceSearch.inputWords.length > 1"
                   [removeFunction]="serviceSearch.removeWord"
                   [grammarTree] = "serviceSearch.initial.grammar.grammarTree"
                   [grammarWordTypes] = "serviceSearch.initial.grammar.grammarWordTypes"
                   [grammarWordTypesGroups] = "serviceSearch.initial.grammar.grammarWordTypesGroups"
		           ></input-word>
		      <input-word-add></input-word-add>
		    </div>

		    <div class="row">
		      <button type="submit" class="btn btn-danger btn-lg" (click)="serviceSearch.search()">Пошук</button>
		    </div>
	    </form>
	    <alert *ngIf="serviceSearch.statusSearch" type="info">{{serviceSearch.statusSearch}}</alert>
	
	    <output-search *ngIf="serviceSearch.resultKwic"></output-search>
	</tab>
	<tab heading="Кластар" [active]="serviceSearch.typeSearch == 'cluster'">
	    <br/>
	    <alert *ngIf="serviceSearch.errorSearch" type="danger">{{serviceSearch.errorSearch}}</alert>
	    <button #btnShowCluster type="button" style="display: none;" class="btn btn-default btn-block" (click)="serviceSearch.maximizeCluster()">Крытэрыі пошуку <img src="/icons/down.svg"/></button>
	    <form #divInputCluster (submit)="serviceSearch.searchCluster()">
		    <div class="row">
		      <input-filter-korpus></input-filter-korpus>
		    </div>
		    <div class="row">
		      <input-word 
		           [word]="serviceSearch.inputWords[0]"
                   [displayRemove]="false"
                   [grammarTree] = "serviceSearch.initial.grammar.grammarTree"
                   [grammarWordTypes] = "serviceSearch.initial.grammar.grammarWordTypes"
                   [grammarWordTypesGroups] = "serviceSearch.initial.grammar.grammarWordTypesGroups"
		           ></input-word>
		      <input-word-around></input-word-around>
		    </div>
		    
		    <div class="row">
		      <button type="submit" class="btn btn-danger btn-lg" (click)="serviceSearch.searchCluster()">Пошук</button>
		    </div>
	    </form>
	    <alert *ngIf="serviceSearch.statusSearch" type="info">{{serviceSearch.statusSearch}}</alert>
	
	    <output-cluster></output-cluster>
	</tab>
</tabset>

<div *ngIf="serviceSearch.initial && !serviceSearch.resultSearch && !serviceSearch.resultKwic && !serviceSearch.resultCluster">
  <div *ngIf="serviceSearch.inputCorpusType == 'MAIN'">
    <p class="text-center">Гэты корпус змяшчае вычытаныя тэксты, якія маюць метаразметку: аўтар тэксту, назва тэксту і г.д.</p>
    <!--table class="table-borders hspacing center">
      <tr>
        <th></th>
        <th class="text-center">Тэкстаў</th>
        <th class="text-center">Слоў</th>
      </tr>
      <tr *ngFor="let s of serviceSearch.initial.statKorpus">
        <td>{{s.name}}</td>
        <td class="text-right">{{s.texts}}</td>
        <td class="text-right">{{s.words}}</td>
      </tr>
    </table--> 
  </div>
  <div *ngIf="serviceSearch.inputCorpusType == 'UNSORTED'">
    <p class="text-center">Падкорпус неапрацаваных тэкстаў уяўляе сабой збор тэкстаў, якія былі распазнаныя ў аўтаматычным рэжыме і не прайшлі вычытку (ёсць праблемы з пераносамі, падзелам на сказы, абзацы і інш.). 
    Падкорпус дазваляе шукаць слова і словаформы, але не мае паўнавартаснай метаразметкі.</p> 
    <!--table class="table-borders hspacing center">
      <tr>
        <th></th>
        <th class="text-center">Тэкстаў</th>
        <th class="text-center">Слоў</th>
      </tr>
      <tr *ngFor="let s of serviceSearch.initial.statOther">
        <td>{{s.name}}</td>
        <td class="text-right">{{s.texts}}</td>
        <td class="text-right">{{s.words}}</td>
      </tr>
    </table--> 
  </div>
</div>
