<#assign active = "download">
<#assign title = "Спампаваць | Беларускі N-корпус">
<#include "header.html">

    <div class="container">

		<p><a href="nkorpus-grammar.zip">nkorpus-grammar.zip</a> Лексіка-граматычная база ў выглядзе XML-файлаў (на ўмовах ліцэнзіі <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>).</p>
		<p><a href="https://sourceforge.net/projects/korpus/">sourceforge.net/projects/korpus/</a> Рухавік корпусу (на ўмовах ліцэнзіі <a target="_blank" href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License, Version 3</a>).</p>
		
		<br/>
		<h3>Праверка арфаграфіі</h3>
		<p><a href="/spell/belarusian_speller-20140108.exe">belarusian_speller-20140108.exe</a> - праверка арфаграфіі для Microsoft Office 2007/2010/2013 (слоўнік распаўсюджваецца на ўмовах ліцэнзіі <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>).</p>
		<p><a href="/spell/be-official2008.oxt">be-official2008.oxt</a> - праверка арфаграфіі для LibreOffice/OpenOffice (на ўмовах ліцэнзіі <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>).</p>
		<p><a href="/spell/be-official2008.xpi">be-official2008.xpi</a> - праверка арфаграфіі для Mozilla Firefox/Thunderbird (на ўмовах ліцэнзіі <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>).</p>

    </div>


<#include "footer.html">
