<#assign active = "grammar">
<#assign title = "Граматычная база | Беларускі N-корпус">
<#include "header.html">

    <div class="container">

    	<page-grammar/>

    </div>
    <div class="container text-center">
        <hr/>
        Лексіка-граматычная база даступная на ўмовах ліцэнзіі <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>. Рухавік даступны на ўмовах ліцэнзіі <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>.
    </div>

<#include "footer.html">
