
<div #popoverBiblio style="visibility: hidden; display: block; position: absolute;" class="popover in popover-top top" tabindex="0" (blur)="leave()">
  <div class="popover-arrow arrow"></div>
  <div *ngIf="biblio" style="margin: 1em">
    <div>
      <b>Аўтары:</b> {{biblio.authors}}
    </div>
    <div *ngIf="biblio.translation">
      <b>Перакладчык:</b> {{biblio.translators}}
    </div>
    <div *ngIf="biblio.langOrig">
      <b>Пераклад з:</b> {{biblio.langOrig}}
    </div>
    <div>
      <b>Назва:</b> {{biblio.title}}
    </div>
    <div>
      <b>Стыль/жанр:</b> {{biblio.styleGenres}}
    </div>
    <div>
      <b>Выданне:</b> {{biblio.edition}}
    </div>
    <div>
      <b>Час стварэння:</b> {{biblio.writtenTime}}
    </div>
    <div>
      <b>Час першай публікацыі:</b> {{biblio.publicationTime}}
    </div>
  </div>
  <div *ngIf="biblioOther" style="margin: 1em">
    <div>
      Назва: {{biblioOther.name}}
    </div>
    <div>
      Спасылка: <a href="{{biblioOther.url}}" target="_blank" onmousedown="event.preventDefault()">{{biblioOther.url}}</a>
    </div>
    <div>
      Дэталі: {{biblioOther.details}}
    </div>
  </div>
</div>
