<div class="col-sm-6 col-md-4 inputword" style="display: none" id="template-inputword">
	<div class="card">
		<div class="card-header">
			Слова
			<button type="button" class="inputword-remove close pull-right" aria-label="Close" onClick="korpusui.removeWord('inputword', this); return false;">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="card-body">
			<div class="form-group form-inline" style="width: 100%">
				<input type="text" placeholder="уводзіць тут" class="form-control" name="wordText" style="width: 100%">
			</div>
			<div class="form-group form-inline" style="width: auto">
				<label>Граматыка
					<a href="#" class="form-control wordgram-display ml-2"
						onClick="dialogWordGrammar = new DialogWordGrammar(this); return false;">---</a></label>
				<span class="d-none wordgram-grammar-string"></span>
			</div>
			<div class="form-group form-inline checkbox">
				<label>Усе словаформы
					<input class="ml-2" type="checkbox" name="allForms"></label>
			</div>
		</div>
	</div>
</div>
