<div class="col-sm-6 col-md-4 inputword" style="display: none" id="template-inputword">
	<div class="card">
		<div class="card-header">
			Слова
			<button style="float: right" class="inputword-remove close" aria-label="Close" onClick="korpusui.removeWord('inputword', this)"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="card-body">
				<div class="form-group form-inline" style="width: 100%">
				    <input type="text" placeholder="уводзіць тут" class="form-control" name="wordText" style="width: 100%">
				</div>
				<div class="form-group form-inline" style="width: auto">
				  <label class="mr-2">Граматыка</label>
				  <a href="#" class="form-control wordgram-display" onClick="dialogWordGrammar = new DialogWordGrammar(this); return false;">---</a>
				  <span class="d-none wordgram-grammar-string"></span>
				</div>
			    <div class="form-group form-inline checkbox">
			      <label class="mr-2">Усе словаформы</label>
			      <input type="checkbox" name="allForms">
			    </div>
		</div>
	</div>
</div>
