<div class="card" style="width: 100%">
    <div class="card-header">Фільтр тэкстаў</div>
    <div class="card-body" *ngIf="serviceSearch.inputCorpusType == 'MAIN'">
            <div class="form-group row">
                <label for="inputFilterCorpus" class="col-sm-2 col-form-label">Падкорпусы</label>
                <div class="col-sm-10">
                    <a href="#" class="form-control notextout" id="inputFilterCorpus" onClick="dialogSubcorpuses = new DialogSubcorpuses(); return false;">TODO</a>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputFilterAuthor" class="col-sm-2 col-form-label">Аўтары</label>
                <div class="col-sm-10">
                    <a href="#" class="form-control notextout" id="inputFilterAuthor" onClick="dialogAuthors = new DialogAuthors(); return false;"></a>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputFilterStyle" class="col-sm-2 col-form-label">Стылі/жанры</label>
                <div class="col-sm-10">
                    <a href="#" class="form-control notextout" id="inputFilterStyle" onClick="dialogStyleGenres = new DialogStyleGenres(); return false;"></a>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputFilterYearWrittenFrom" class="col-sm-2 col-form-label">Год напісання</label>
                <div class="col-sm-10">
                    <div class="form-inline">
                        <label for="inputFilterYearWrittenFrom" class="px-2">ад</label>
                        <input id="inputFilterYearWrittenFrom" type="text" class="form-control">
                        <label for="inputFilterYearWrittenTo" class="px-2">да</label>
                        <input id="inputFilterYearWrittenTo" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputFilterYearPublishedFrom" class="col-sm-2 col-form-label">Год выдання</label>
                <div class="col-sm-10">
                    <div class="form-inline">
                        <label for="inputFilterYearPublishedFrom" class="px-2">ад</label>
                        <input id="inputFilterYearPublishedFrom" type="text" class="form-control">
                        <label for="inputFilterYearPublishedTo" class="px-2">да</label>
                        <input id="inputFilterYearPublishedTo" type="text" class="form-control">
                    </div>
                </div>
            </div>
    </div>
    <!--div class="panel-body" *ngIf="serviceSearch.inputCorpusType == 'UNSORTED'">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputFilterOther" class="col-sm-2 control-label">Частка</label>
                <div class="col-sm-10">
                    <input id="inputFilterOther"
                           *ngIf="serviceSearch.initial"
                           [(ngModel)]="serviceSearch.inputTextUnprocessed.volume"
                           class="form-control">
                </div>
            </div>
        </div>
    </div-->
</div>
