<div class="panel panel-default">
    <div class="panel-heading">Парадак</div>
    <div class="panel-body">
          <label class="radio-inline">
            <input type="radio" name="inputOrder" value="STANDARD" [(ngModel)]="serviceGrammar.inputOrder">
                Звычайны
          </label>
          <label class="radio-inline">
            <input type="radio" name="inputOrder" value="REVERSE" [(ngModel)]="serviceGrammar.inputOrder">
                Адваротны слоўнік
          </label>
    </div>
</div>
