  <table class="table-zebra hspacing" width="100%">
    <tr>
      <th colspan="3">Словазлучэнні</th>
      <th>Знойдзена</th>
    </tr>
    {{for resultCluster.rows}}
    <tr>
      <td class="text-right">
        {{for wordsBefore}}
            <span class="hspacing">{{>}}</span>
        {{/for}}
      </td>
      <td class="text-center">
        <span class="hspacing">{{>word}}</span>
      </td>
      <td class="text-left">
        {{for wordsAfter}}
            <span class="hspacing">{{>}}</span>
        {{/for}}
      </td>
      <td class="text-right">
        <span class="hspacing">{{>count}}</span>
      </td>
    </tr>
    {{/for}}
  </table>
