<ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="tabSearch" class="nav-link active" href="#" onClick="korpusui.switchMode('search'); return false;">Пошук</a>
  </li>
  <li class="nav-item">
    <a id="tabKWIC" class="nav-link" href="#" onClick="korpusui.switchMode('kwic'); return false;">KWIC</a>
  </li>
  <li class="nav-item">
    <a id="tabCluster" class="nav-link" href="#" onClick="korpusui.switchMode('cluster'); return false;">Кластар</a>
  </li>
</ul>
<br/>
    <!--alert *ngIf="serviceSearch.errorSearch" type="danger">{{serviceSearch.errorSearch}}</alert-->
    <div id="error" class="alert alert-danger fade show" role="alert"></div>
    <div id="status" class="alert alert-info fade show" role="alert"></div>

    <!--div class="tab-content" (select)="serviceSearch.selectSearch()" [active]="serviceSearch.typeSearch == 'search'"-->
	    <button id="btnShowSearch" type="button" style="display: none;" class="btn btn-secondary btn-block" onClick="korpusui.maximizeHeader()">Крытэрыі пошуку <img src="icons/down.svg"/></button>
	    <form id="divInputSearch" (submit)="serviceSearch.search()">
		    <div class="row">
		      <#include "input.filter.korpus.html">
		    </div>
		    <div class="row">
		      <#include "input.word.html">
			  <#include "input.word.add.html">
			  <#include "input.word.around.html">
		    </div>
		    <div id="partInputOrder" class="row">
		      <#include "input.order.html">
		    </div>
		    <div class="row justify-content-end">
		      <button type="button" class="btn btn-danger btn-lg" onClick="korpusService.search()">Пошук</button>
		    </div>
	    </form>

      <span id="searchTop" style="position: relative; top: -50px"></span>
	  <div id="output"></div>

<#include "output.html">
<#include "dialog.authors.html">
<#include "dialog.stylegenres.html">
<#include "dialog.text.html">
<#include "dialog.wordgrammar.html">
